!!!
%html
  %head
    %title Cody
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_pack_tag "application"
    = javascript_packs_with_chunks_tag "pulls_app", "application"

  %body.bg-gray-100
    = yield
